<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>IPhotography</title>
</head>
<body>
    <div class="container">
        <header>
            <img src="../static/img/logo.png" alt="logo icon" class="logo">
            <div class="burger-menu">
                <div class="stick"></div>
                <div class="stick"></div>
                <div class="stick"></div>
            </div>
        </header>
        <main>
            <div class="home screen">

            </div>
            <div class="about screen">
                <h2>About me...</h2>
            </div>
            <div class="contact screen">

            </div>
        </main>
        <footer>

        </footer>
    </div>
</body>
</html>